@import '../../common/styles/globalStyles.module.scss';

.recipesTitle{
  font-size: 2em;
  width: 100%;
  margin: 30px auto;
  font-weight: 700;
  text-align: center;
}

.recipesWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.createButton {
  @include background-success;
  @include white-text;
  width: 150px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px #888888;
  font-size: 1.2em;
  cursor: pointer;
}

.createRecipeForm {
  display: block;

  input {
    display: block;
    margin-bottom: 10px;
  }

  select {
    margin-bottom: 10px;
    width: 100%;
  }
}
