.recipesTitle{
  font-size: 2em;
  width: 100%;
  margin: 15px auto;
  font-weight: 700;
  text-align: center;
}


.recipesWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.createButton {
  margin-top: 20px;
  width: 20%;
  align-self: flex-end;
  height: 40px;
  border-radius: 10px;

  background-color: rgba($color: #4e9253, $alpha: 1.0);

  &:hover {
    background-color: rgba($color: #317b36, $alpha: 1.0);
  }
}


.createRecipeForm {
  display: block;

  input {
    display: block;
    margin-bottom: 10px;
  }

  select {
    margin-bottom: 10px;
    width: 100%;
  }
}
