@import '../../common/styles/globalStyles.module.scss';

.productsWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.productsTitle{
  font-size: 2em;
  width: 100%;
  margin: 30px auto;
  font-weight: 700;
  text-align: center;
}

.createButton {
  @include background-success;
  @include white-text;
  width: 150px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px #888888;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}


.createProductForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  input[type="submit"] {
    width: 40%;
  }

  select {
    margin-bottom: 10px;
    width: 103%;
    height: 25px;
  }

  .checkBox {
    display: block;
    width: 100%;
  
    input {
      display: inline;
      width: 20px !important;
      margin-left: -2%;
    }
  
    label {
      display: inline;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .errorMessage {
    font-size: 12px;
    color: red;
    align-self: flex-start;
  }
}