@import '../../common/styles/globalStyles.module.scss';

.productsWrapper {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: auto;
}

.productsTitle{
  font-size: 2em;
  width: 100%;
  margin: 30px auto;
  font-weight: 700;
  text-align: center;
}

.createButton {
  @include background-success;
  @include white-text;
  width: 150px;
  margin: 20px auto;
  border-radius: 5px;
  padding: 10px;
  border: none;
  box-shadow: 1px 1px #888888;
  font-size: 1.2em;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}


.createProductForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    background-color: #dcd9d9;
  }


  input[type="submit"] {
    width: 40%;
    border-radius: 5px;
    margin-top: 10px;
    background-color:  $success;
  }

  select {
    margin-bottom: 10px;
    width: 105%;
    padding: 2%;
    border-radius: 5px;
    background-color: #dcd9d9;
  }

  .checkBox {
    display: block;
    width: 100%;
  
    input {
      display: inline;
      width: 20px !important;
      margin-left: -2%;
      height: 15px;
    }
  
    label {
      display: inline;
      font-size: 16px;
      margin-left: 10px;
    }
  }

  .errorMessage {
    font-size: 13px;
    color: rgb(172, 20, 20);
    font-weight: 900;
    align-self: flex-start;
  }
}