$navbar-item-margin: 10px;

.navbarItemWrapper{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

.marginLeft{
  margin-left: $navbar-item-margin;
}

.marginRight{
  margin-right: $navbar-item-margin;
}

.marginTop{
  margin-top: $navbar-item-margin;
}

.marginBottom{
  margin-bottom: $navbar-item-margin;
}