@import './globalVariables.module.scss';

@mixin primary-background {
  background-color: $primary-color;
}

@mixin primary-background-lighter {
  background-color: $primary-color-lighter;
}

@mixin primary-background-dropdown {
  background-color: white;
}

@mixin primary-text {
  color: $primary-color;
}

@mixin white-text {
  color: white;
}

@mixin layout {
  max-width: $max-width;
  width: 100%;
  margin: auto;
  background: #fff;
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}