$table-cell-large: 200px;
$table-cell-medium: 150px;
$table-cell-small: 100px;
$table-cell-xSmall: 50px;

.largeCell{
  min-width: $table-cell-large;
}

.mediumCell{
  min-width: $table-cell-medium;
}

.smallCell{
  min-width: $table-cell-small;
}

.xSmallCell{
  min-width: $table-cell-xSmall;
}

table td{
  border-bottom: 1px solid;
  padding: 10px 0;
}

table th{
  border-bottom: 3px solid;
}

.table {
  border-collapse: collapse;
  text-align: center;
  overflow-y: hidden;
  display: block;
  max-width: 95%;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.buttonEdit {
  height: 25px;
  border-radius: 5px;
  background-color: rgba($color: #7a7cf0, $alpha: 1.0);

  &:hover {
    background-color: rgba($color: #6062d5, $alpha: 1.0);
  }
}

.buttonDelete {
  height: 25px;
  border-radius: 5px;
  background-color: rgba($color: #ed6040, $alpha: 1.0);
  &:hover {
    background-color: rgba($color: #ca4426, $alpha: 1.0);
  }
}