@import '../../common/styles/globalStyles.module.scss';

$table-cell-large: 200px;
$table-cell-medium: 150px;
$table-cell-small: 100px;
$table-cell-xSmall: 50px;
$table-cell-button: 70px;

.largeCell{
  min-width: $table-cell-large;
}

.mediumCell{
  min-width: $table-cell-medium;
}

.smallCell{
  min-width: $table-cell-small;
}

.xSmallCell{
  min-width: $table-cell-xSmall;
}

.tableCellButton{
  min-width: $table-cell-button;
}

table td{
  border-bottom: 1px solid;
  padding: 10px 0;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

table th{
  border-bottom: 3px solid;
}

.table {
  border-collapse: collapse;
  text-align: center;
  overflow-y: hidden;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: auto;
  white-space: nowrap;
}

.crudButton{
  @include white-text;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}

.buttonEdit {
  background-color: #2680ca;
}

.buttonDelete {
  @include background-error;
}